* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
  
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
}
  
header h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}
  
nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
  
nav li {
    margin-left: 1rem;
}
  
a {
    color: #fff;
    text-decoration: none;
}
  
main {
    margin: 2rem auto;
    padding: 0 2rem;
}

footer {
    margin: 20px;
    background-color: dimgrey;
    font-style: italic;
    text-align: center;
    
}
  
section {
    margin-bottom: 2rem;
}
  
h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
  
main ul {
    list-style: disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

input {
    width: 40%;
}

textarea {
    width: 85%;
}
  
button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: .5rem 1rem;
    border: none;
    border-radius: 3px;
}

.grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(6, 40vh);
    grid-gap: 1rem;
}